.process-section {
    background: $white;
    @include section-padding();
    position      : relative;
    padding-bottom: 0;

    .main-title-wrapper {
        position  : relative;
        text-align: center;
        margin-top: -10%;
        transform : rotate(160deg);
        display   : inline-block;
        left      : -6%;

        @media(max-width: 995px) {
            margin-top: -12%;
            left      : 1%;
            transform : rotate(150deg);
        }

        @media(max-width: 490px) {
            margin-top: -22%;
        }

        &:after {
            content      : '';
            display      : inline-block;
            border-radius: 50%;
            border       : 1px solid $green;
            width: 220px;
			height: 220px;
            left         : 0;
            right        : 0;
            margin-top   : 2%;

            @media(max-width: 1370px) {
                height: 210px;
                width : 210px;
            }

            @media(max-width: 1300px) {
                height: 190px;
                width : 190px;
            }

            @media(max-width: 1120px) {
                height: 180px;
                width : 180px;
            }

            @media(max-width: 992px) {
                height: 150px;
                width : 150px;
            }

            @media(max-width: 490px) {
                height: 130px;
                width : 130px;
            }
        }

        .SectionTitle {
            left : 0;
            right: 0;
            top  : -6px;
            @include header-font();

            &::after {
                content   : '';
                background: $white;
                display   : inline-block;
                margin-top: -25px;
            }
        }

        [class*="char"] {
            background-color       : $white;
            margin                 : -2px;
            color                  : $green;
            position               : relative;
            -webkit-text-fill-color: $green;
            box-shadow             : 12px 10px 0 $white, 18px 14px $white, 0px 0px 20px $white;

        }
    }

    .process-section-blocks {
        display        : flex;
        display        : -webkit-flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        overflow       : hidden;
        margin-top     : 5%;
        position       : relative;

        .processBG {
            text-align: center;
            position  : absolute;
            z-index   : 0;
            left      : 0;
            right     : 0;

            @media all and (max-width: 992px) {
                display: none;
            }

            img {
                height    : 200px;
                margin    : 0 auto;
                margin-top: 15px;
                width     : 93%;
                @media all and (max-width:1200px) {
                    width     : 96%;
                }
            }
        }

        &__item {
            padding   : 15px;
            width     : 25%;
            position  : relative;
            text-align: center;

            @media all and (max-width: 992px) {
                width: 50%;
            }

            @media all and (max-width: 640px) {
                width  : 100%;
                padding: 15px 0;
            }

            .img-wrapper {
                width           : 200px;
                height          : 200px;
                margin          : 0 auto;
                margin-bottom   : 50px;
                border-radius   : 50%;
                overflow        : hidden;
                position        : relative;
                background-color: $green-opacity;

                .overlay {
                    position: absolute;
                    z-index : 1;
                    top     : 0;
                    left    : 0;
                    right   : 0;
                    bottom  : 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin: 0;
                        @include h5();
                        color: $white;
                    }
                }

                @media all and (max-width: 786px) {
                    width : 180px;
                    height: 180px;
                }

                img {
                    width: 100%;
                }
            }

            .item_text {
                padding: 0 20px;
                @include footer-copyrights();
            }

            p {
                color: $black;
            }
        }
    }


}