
/* -------------------------------------
              color variables
--------------------------------------- */
$green:#B0D361;
$green-opacity:rgba(176, 211, 97, 0.8);
$purple: #6D1452;
$pink: #F6204C;
$gradientPurple: #6c1753;
$gradientPink: #ed366e;
$blue: #4a90e2;
$darkBlue: #6D1452;
$textGray: #798391;
$darkBlueText: #182431;
$lightBlueText: #4a90e2;
$darkGrey: #A6A6A6;
$lightGrey: #D9D9D9;
$white: #FFFFFF;
$black: #000000;